/* Portrait and Landscape */
@font-face {
	font-family: Helvethaica;
	src: url("http://localhost/aluinch-dev/resources/front_end/fonts/DB_Helvethaica_X_Med.eot")
}

@font-face {
	font-family: Helvethaica;
	src: url("http://localhost/aluinch-dev/resources/front_end/fonts/DB_Helvethaica_X_Med.ttf")
}

@font-face {
	font-family: Penumbra;
	src: url("http://localhost/aluinch-dev/resources/front_end/fonts/Penumbra.eot")
}

@font-face {
	font-family: Penumbra;
	src: url("http://localhost/aluinch-dev/resources/front_end/fonts/Penumbra.ttf")
}

#section1 .slogan, #section3 > .text-main, .bg-mobile .text, #section4 > .text-main, #section5 > .text-main {
	font-family: "Penumbra" !important;
	font-size: 16px !important;
	line-height: 26px
}

.yellow {
	color: #ff0
}

.orange {
	color: #f15e22
}

.orange2 {
	color: #ffc807
}

.white {
	color: #fff
}

.gray {
	color: #a1a1a1
}

ul li {
	list-style: none
}

button:focus, li:focus, :focus {
	outline: 0 !important
}

a {
	text-decoration: none !important
}

a:hover {
	text-decoration: none
}

.head-section {
	padding-bottom: 50px
}

div {
	-webkit-overflow-scrolling: touch
}

.item > a {
	color: #000
}

.item:hover {
	opacity: .8
}

.owl-project .owl-item {
	cursor: normal
}

.term-lb {
	cursor: pointer
}

.term-lb:hover {
	color: #ff0
}

.warp-light-box {
	position: fixed;
	left: 100%;
	top: 0;
	width: 100%;
	overflow: auto;
	min-height: 100%;
	z-index: 800;
	transition: all 1s ease
}

.bg-black {
	width: 100%;
	min-height: 100%;
	background: rgba(0, 0, 0, .8);
	transition: all 1s ease;
	position: fixed;
	left: 100%;
	top: 0;
	z-index: 1
}

.main-lb {
	width: 930px;
	height: auto;
	background: #fff;
	border-radius: 10px;
	position: absolute;
	left: 50%;
	margin-left: -500px;
	top: 100px;
	transition: all .5s ease;
	margin-bottom: 100px;
	z-index: 2
}

.close-lb {
	position: absolute;
	right: -60px;
	top: 0;
	cursor: pointer;
	color: #fff
}

.show-black {
	left: 0
}

.project-gal {
	padding: 20px
}

.project-gal .main-thumb {
	padding: 5px 20px 20px 20px;
	position: relative
}

.project-gal .main-thumb .item {
	padding: 5px;
	cursor: pointer
}

.project-gal .main-thumb .item:hover {
	opacity: .8
}

.project-gal h1 {
	color: #666;
	font-size: 14px;
	font-size: 1.4rem
}

.main-thumb .arrow-right-project {
	position: absolute;
	top: 33%;
	right: 0;
	cursor: pointer
}

.main-thumb .arrow-left-project {
	position: absolute;
	top: 33%;
	left: 0;
	cursor: pointer
}

#ajax-result > .bg-vdo {
	padding: 20px;
	width: 100%
}

@font-face {
	font-family: 'superstorebold';
	src: url('superstore_font/Superstore-Bold-webfont.eot');
	src: url('superstore_font/Superstore-Bold-webfont.eot?#iefix') format('embedded-opentype'), url('superstore_font/Superstore-Bold-webfont.woff2') format('woff2'), url('superstore_font/Superstore-Bold-webfont.woff') format('woff'), url('superstore_font/Superstore-Bold-webfont.ttf') format('truetype'), url('superstore_font/Superstore-Bold-webfont.svg#superstorebold') format('svg');
	font-weight: 400;
	font-style: normal
}

@font-face {
	font-family: 'superstoreregular';
	src: url('superstore_font/Superstore-Regular-webfont.eot');
	src: url('superstore_font/Superstore-Regular-webfont.eot?#iefix') format('embedded-opentype'), url('superstore_font/Superstore-Regular-webfont.woff2') format('woff2'), url('superstore_font/Superstore-Regular-webfont.woff') format('woff'), url('superstore_font/Superstore-Regular-webfont.ttf') format('truetype'), url('superstore_font/Superstore-Regular-webfont.svg#superstoreregular') format('svg');
	font-weight: 400;
	font-style: normal
}

#arrow-lead-l {
	position: absolute;
	top: 200px;
	left: -70px;
	cursor: pointer;
	z-index: 1
}

#arrow-lead-r {
	position: absolute;
	top: 200px;
	right: -70px;
	cursor: pointer;
	z-index: 1
}

#arrow-lead-l:hover, #arrow-lead-r:hover {
	opacity: .8
}

html {
	font-size: 62.5%
}

body {
	font-family: "Penumbra", Arial, sans-serif;
	font-size: 14px;
	color: #656463;
	font-size: 1.4rem;
	color: #535050;
	background: #000
}

.mobile-nav {
	display: none
}

h1 {
	color: #f15e22;
	font-size: 28px;
	font-size: 2.8rem;
	font-weight: 700;
	text-align: center
}

.line-head {
	width: 65px;
	height: 1px;
	background: #a1a1a1;
	margin-bottom: 10px;
	clear: both;
	margin: 0 auto
}

.show_height {
	position: fixed;
	top: 200px;
	left: 200px;
	z-index: 999;
	color: red
}

.see-more {
	transition: all .5s ease
}

.see-more:hover {
	background: #f15e22
}

.see-more a:hover {
	color: #fff !important
}

::-webkit-input-placeholder {
	color: #fff
}

:-moz-placeholder {
	color: #fff
}

::-moz-placeholder {
	color: #fff
}

:-ms-input-placeholder {
	color: #fff
}

.ruler-bar {
	/*height: 19000px;*/
	height: 17466px;
	width: 50px;
	position: absolute;
	right: 0;
	top: 0;
	z-index: 10;
	background: url('http://localhost/aluinch-dev/storage/images/dash-page3.png')
}

.nav-page {
	width: 30px;
	height: 160px;
	position: fixed;
	top: 50%;
	margin-top: -80px;
	right: 100px;
	z-index: 6;
	display: none
}

.nav-page ul {
	width: 100%;
	background: #ededed;
	position: absolute;
	height: 100%;
	border-radius: 5px;
	padding: 0;
	padding-left: 0;
	margin: 0;
	padding-top: 10px
}

.nav-page ul li {
	width: 100%;
	height: 20px;
	margin-bottom: 10px;
	cursor: pointer;
	color: #9f9f9f;
	position: relative;
	transition: .5s all ease;
	padding: 5px 0
}

.nav-page ul li:hover {
	background: #ededed
}

.nav-page ul li:hover > .dot {
	background: #f15e22;
	position: absolute;
	left: -180px;
	transition: all 1s ease;
	z-index: 1
}

.nav-page ul li > .dot {
	width: 10px;
	height: 10px;
	background: #b4b4b5;
	border-radius: 10px;
	margin: 0 auto
}

.nav-page ul li > .menu {
	position: absolute;
	left: -190px;
	opacity: 0;
	top: -5px;
	width: 200px;
	background: #ededed;
	transition: all 1s ease;
	padding: 5px 0 5px 30px;
	border-radius: 5px
}

.nav-page ul li:hover > .menu {
	opacity: 1
}

.nav-page ul li.active > .dot {
	background: #f15e22
}

#section1 .slogan {
	color: #fff;
	font-family: 'Helvethaica', sans-serif;
	font-size: 22px;
	font-size: 2.2rem
}

.text-main {
	text-align: center;
	font-size: 28px;
	font-size: 2.8rem;
	color: #fff;
	font-family: 'Helvethaica', sans-serif;
	text-shadow: 1px 1px 1px #000
}

.bg-mobile .text {
	font-size: 14px;
	top: 0 !important;
	font-size: 1.4rem;
	color: #fff;
	font-family: 'Helvethaica', sans-serif;
	position: relative !important
}

.bg-mobile {
	width: 100%;
	min-height: 100px;
	padding: 50px 0
}

.sitemap-main h5 {
	font-size: 24px;
	font-size: 2.4rem;
	color: #333;
	text-align: center
}

.sitemap-main .line {
	width: 50px;
	margin: 20px auto;
	height: 2px;
	background: #ccc;
	background: orange
}

.sitemap-main ul {
	width: 100%;
	float: left;
	margin: 20px 0;
	padding-left: 0
}

.sitemap-main ul li {
	width: 33.33%;
	float: left;
	text-align: center;
	padding: 20px 10px;
	font-size: 16px
}

.sitemap-main ul li.box {
	width: 50%
}

.sitemap-main ul li a {
	color: #333
}

.sitemap-main ul li a:hover {
	color: #f15e22
}

.sitemap-main strong {
	color: #f15e22;
	clear: both
}

@media (max-width: 1000px) {
	.main-lb {
		width: 75%;
		height: auto;
		background: #fff;
		border-radius: 10px;
		position: absolute;
		left: 20%;
		margin-left: -10%;
		top: 100px;
		transition: all .5s ease;
		margin-bottom: 100px;
		z-index: 2
	}
}

@media (max-width: 768px) {
	.main-lb {
		width: 72%;
		min-height: auto;
		background: #fff;
		border-radius: 10px;
		position: absolute;
		left: 20%;
		margin-left: -10%;
		top: 100px;
		transition: all .5s ease
	}

	#section2 .main-thumb > .arrow-left {
		position: absolute;
		top: 50%;
		left: 0;
		width: 30px;
		cursor: pointer
	}

	#section2 .main-thumb > .arrow-right {
		position: absolute;
		top: 50%;
		right: 0;
		width: 30px;
		cursor: pointer
	}

	.graphic, .nav-page {
		display: none
	}

	body {
		height: auto
	}

	.black {
		display: none
	}

	.mobile-nav {
		display: block;
		position: absolute;
		cursor: pointer;
		z-index: 1;
		right: 20px;
		top: 10px;
		font-size: 24px;
		color: #f15e22
	}

	.nav-page, .ruler-bar {
		display: none
	}

	.bg-mobile {
		position: relative;
		display: block !important
	}

	.bg-mobile > .text {
		position: absolute;
		top: 20px;
		width: 100%;
		padding: 0 20px;
		text-align: center;
		font-size: 14px;
		font-weight: 700;
		color: #fff
	}

	#section1 {
		position: relative;
		width: 100%;
		height: 500px
	}

	#section1 > .warp-slide {
		width: 100%;
		height: 400px;
		position: absolute;
		left: 0;
		top: 0;
		z-index: 1
	}

	#section1 .slogan {
		width: 50%;
		margin-right: -25%;
		top: 100px;
		right: 50%;
		position: absolute;
		z-index: 1;
		color: #fff;
		font-size: 14px;
		font-size: 1.4rem
	}

	.slides-navigation {
		display: block
	}

	#section1 .bg-mobile {
		background: url('http://localhost/aluinch-dev/storage/images/bg2/1.png');
		width: 100%;
		min-height: 100px;
		padding: 50px 0
	}

	#section2 {
		position: relative;
		width: 100%;
		min-height: 500px;
		z-index: 5
	}

	#section2 > .bg {
		width: 100%;
		height: 500px;
		background: url('http://localhost/aluinch-dev/storage/images/bg2/1.png') top center no-repeat;
		z-index: 1;
		position: absolute;
		background-size: no-repeat;
		background-attachment: scroll
	}

	#section2 .bg-mobile {
		background: url('http://localhost/aluinch-dev/storage/images/bg2/1m.jpg') center center
	}

	#section2 .port-main {
		width: 100%;
		height: auto;
		position: relative;
		top: auto;
		left: auto;
		background: #fff
	}

	#section2 .port-main > .warp-slide {
		width: 100%;
		height: auto;
		margin: 0 auto;
		margin-top: 0;
		text-align: center;
		background: #fff;
		padding: 40px 20px 50px 20px
	}

	#section2 .port-main > .warp-slide .main-catlist {
		position: relative;
		text-align: left;
		left: -50%;
		position: relative;
		float: right;
		padding-top: 40px
	}

	#section2 .port-main > .warp-slide .main-catlist > ul {
		position: relative;
		left: 50%;
		position: relative
	}

	#section2 .port-main > .warp-slide .main-catlist > ul > li {
		padding: 7px 15px;
		border: 1px solid #535050;
		float: left;
		margin-right: 10px;
		cursor: pointer;
		margin-bottom: 20px
	}

	#section2 .port-main > .warp-slide .main-catlist > ul > li:hover, #section2 .port-main > .warp-slide .main-catlist > ul > li.active {
		background: #f15e22;
		color: #fff
	}

	#section2 .port-main .main-slide {
		width: 100%;
		height: 400px;
		position: relative;
		margin-top: 30px
	}

	#section2 .port-main .main-slide > .slide-crop {
		width: 100%;
		height: 100%;
		position: absolute;
		top: 0;
		left: 0
	}

	#section2 .port-main .main-slide > .slide-crop > .main-thumb {
		width: 400px;
		left: 50%;
		margin-left: -200px;
		position: absolute;
		bottom: 20px;
		background: #f0f0f1;
		text-align: center;
		z-index: 1;
		padding: 0 30px 5px 30px
	}

	#section2 .port-main .main-slide > .slide-crop > .main-thumb > .space {
		padding: 10px 0;
		color: #000
	}

	#slide1 {
		z-index: 1
	}

	#slide2, #slide3, #slide4, #slide5 {
		z-index: 0
	}

	#section2 .port-main > .graphic {
		position: absolute;
		width: 200px;
		bottom: -200px;
		height: 200px;
		left: 0;
		display: none
	}

	#section2 .text-home {
		position: absolute;
		width: 300px;
		height: 100px;
		left: 50%;
		margin-left: -150px;
		top: 50%;
		z-index: 1
	}

	#section2 .arrow {
		width: 112px;
		height: 120px;
		position: absolute;
		top: 0;
		left: 50%;
		margin-left: -56px;
		z-index: 1
	}

	#section2 .warp {
		width: 100%;
		height: 500px;
		position: relative
	}

	#section3 {
		position: relative;
		width: 100%;
		height: auto;
		z-index: 4
	}

	#section3 > .bg {
		width: 100%;
		height: 500px;
		background: url('http://localhost/aluinch-dev/storage/images/bg3.jpg');
		z-index: 1;
		position: relative;
		background-size: no-repeat;
		background-attachment: scroll
	}

	#section3 > .text-main {
		width: 616px;
		height: 112px;
		position: absolute;
		left: 50%;
		top: 60%;
		margin-left: -308px;
		margin-top: -66px;
		z-index: 1
	}

	#section3 > .warp {
		width: 100%;
		height: auto;
		background: #fff;
		position: relative;
		top: auto;
		padding: 40px 10px
	}

	#section3 .bg-mobile {
		background: url('http://localhost/aluinch-dev/storage/images/bg1/4.jpg')
	}

	#section3 .warp-slide {
		width: 100%;
		position: relative;
		margin: 0 auto 0 auto;
		padding: 20px 20px
	}

	#section3 h2 {
		font-size: 14px;
		font-size: 1.4rem;
		font-weight: 700;
		color: #000
	}

	#section3 .product-box {
		background: #eff0f0;
		padding: 20px
	}

	#section3 .product-box > h3 {
		font-weight: 700;
		color: #000;
		font-size: 14px;
		margin: 0;
		padding-bottom: 10px;
		line-height: 1.4;
	}

	#section3 .product-box > p {
		padding: 0;
		margin: 0
	}

	#section3 .arrow-left {
		position: absolute;
		top: 50%;
		margin-top: -22px;
		left: 0;
		cursor: pointer
	}

	#section3 .arrow-right {
		position: absolute;
		top: 50%;
		margin-top: -22px;
		right: 0;
		cursor: pointer
	}

	#section3 .see-more {
		width: 200px;
		font-size: 14px;
		font-weight: 700;
		letter-spacing: 1px;
		border: 1px solid #f15e22;
		margin: 50px auto;
		text-align: center;
		position: relative
	}

	#section3 .see-more > a {
		padding: 20px;
		position: relative;
		display: block;
		color: #000
	}

	#section3 .graphic {
		position: absolute;
		width: 200px;
		bottom: -200px;
		height: 200px;
		left: 0
	}

	#section4 {
		position: relative;
		width: 100%;
		height: auto;
		z-index: 3
	}

	#section4 > .bg {
		width: 100%;
		height: 100%;
		background: url('http://localhost/aluinch-dev/storage/images/bg3.jpg') center center;
		z-index: 1;
		position: absolute;
		background-size: no-repeat;
		background-attachment: scroll;
		left: 0;
		top: 0
	}

	#section4 > .bg2 {
		width: 100%;
		height: 800px;
		background: url('http://localhost/aluinch-dev/storage/images/bg4.png') center center;
		z-index: 1;
		position: absolute;
		background-size: no-repeat;
		background-attachment: scroll;
		left: 0;
		top: 65%
	}

	#section4 .bg-mobile {
		background: url('http://localhost/aluinch-dev/storage/images/bg1/5.jpg')
	}

	#section4 h2 {
		font-size: 14px;
		font-size: 1.4rem;
		font-weight: 700;
		color: #000
	}

	#section4 > .text-main {
		width: 616px;
		height: 112px;
		position: absolute;
		left: 50%;
		top: 60%;
		margin-left: -308px;
		margin-top: -66px;
		z-index: 1
	}

	#section4 > .warp {
		width: 100%;
		min-height: auto;
		background: #fff;
		position: relative;
		top: auto;
		padding: 40px 10px
	}

	#section4 .warp-slide {
		width: 100%;
		position: relative;
		margin: 50px auto 0 auto;
		padding: 20px 20px
	}

	#section4 .arrow-left {
		position: absolute;
		top: 50%;
		margin-top: -22px;
		left: 0;
		cursor: pointer
	}

	#section4 .arrow-right {
		position: absolute;
		top: 50%;
		margin-top: -22px;
		right: 0;
		cursor: pointer
	}

	#section4 .see-more {
		width: 200px;
		font-size: 14px;
		font-weight: 700;
		letter-spacing: 1px;
		border: 1px solid #f15e22;
		margin: 50px auto;
		text-align: center;
		position: relative
	}

	#section4 .see-more > a {
		padding: 20px;
		position: relative;
		display: block;
		color: #000
	}

	#section4 .vdo-box {
		background: #eff0f0;
		padding: 20px
	}

	#section4 .vdo-box > h3 {
		font-weight: 700;
		color: #000;
		font-size: 14px;
		margin: 0;
		padding-bottom: 10px;
		line-height: 1.4;
	}

	#section4 .vdo-box > p {
		padding: 0;
		margin: 0
	}

	#section4 .faq-main {
		padding-bottom: 0
	}

	#section4 .faq-main-box {
		width: 100%;
		color: #000;
		padding: 20px 30px;
		border: 1px solid #a1a1a1;
		border-left: 5px solid #a1a1a1;
		margin: 20px 0;
		font-weight: 700;
		cursor: pointer;
		position: relative
	}

	#section4 .faq-main-box:hover {
		background: #f8f8f8
	}

	#section4 .faq-main-box > i {
		color: #f15e22;
		float: none;
		font-size: 20px;
		position: absolute;
		right: 10px;
		top: 50%;
		margin-top: -10px
	}

	#section4 .faq-main > p {
		padding: 10px 0;
		display: none
	}

	#section4 .graphic {
		position: absolute;
		width: 200px;
		bottom: -200px;
		height: 201px;
		left: 0
	}

	#section4 .arrow-down {
		-ms-transform: rotate(90deg);
		-webkit-transform: rotate(90deg);
		transform: rotate(90deg)
	}

	#section5 {
		position: relative;
		width: 100%;
		height: auto;
		z-index: 2
	}

	#section5 > .bg {
		width: 100%;
		height: 100%;
		background: url('http://localhost/aluinch-dev/storage/images/bg3.jpg') center center;
		z-index: 1;
		position: absolute;
		background-size: no-repeat;
		background-attachment: scroll;
		left: 0;
		top: 0
	}

	#section5 > .bg2 {
		width: 100%;
		height: 800px;
		background: url('http://localhost/aluinch-dev/storage/images/bg4.png') center center;
		z-index: 1;
		position: absolute;
		background-size: no-repeat;
		background-attachment: scroll;
		left: 0;
		top: 65%
	}

	#section5 h2 {
		font-size: 14px;
		font-size: 1.4rem;
		font-weight: 700;
		color: #000
	}

	#section5 .bg-mobile {
		background: url('http://localhost/aluinch-dev/storage/images/bg1/6.jpg')
	}

	#section5 > .text-main {
		width: 616px;
		height: 112px;
		position: absolute;
		left: 50%;
		top: 60%;
		margin-left: -308px;
		margin-top: -66px;
		z-index: 1
	}

	#section5 > .warp {
		width: 100%;
		min-height: auto;
		background: #fff;
		position: relative;
		top: auto;
		padding: 40px 10px
	}

	#section5 .warp-slide {
		width: 100%;
		position: relative;
		margin: 50px auto 0 auto;
		padding: 20px 60px
	}

	#section5 .arrow-left {
		position: absolute;
		top: 50%;
		margin-top: -22px;
		left: 0;
		cursor: pointer
	}

	#section5 .arrow-right {
		position: absolute;
		top: 50%;
		margin-top: -22px;
		right: 0;
		cursor: pointer
	}

	#section5 .see-more {
		width: 200px;
		font-size: 14px;
		font-weight: 700;
		letter-spacing: 1px;
		border: 1px solid #f15e22;
		margin: 50px auto;
		text-align: center;
		position: relative
	}

	#section5 .see-more > a {
		padding: 20px;
		position: relative;
		display: block;
		color: #000
	}

	#section5 .vdo-box {
		background: #eff0f0;
		padding: 20px
	}

	#section5 .vdo-box > h3 {
		font-weight: 700;
		color: #000;
		font-size: 14px;
		margin: 0;
		padding-bottom: 10px
	}

	#section5 .vdo-box > p {
		padding: 0;
		margin: 0
	}

	#section5 .faq-main {
		padding-bottom: 100px
	}

	#section5 .faq-main-box {
		width: 100%;
		color: #000;
		padding: 20px;
		border: 1px solid #a1a1a1;
		border-left: 5px solid #a1a1a1;
		margin: 20px 0;
		font-weight: 700
	}

	#section5 .faq-main-box > i {
		color: #f15e22;
		float: right;
		font-size: 20px
	}

	#section5 .faq-main > p {
		padding: 10px 0
	}

	#section5 .graphic {
		position: absolute;
		width: 200px;
		bottom: -200px;
		height: 200px;
		left: 0
	}

	#section6 {
		position: relative;
		width: 100%;
		height: auto;
		z-index: 1;
		font-size: 12px
	}

	#section6 > .bg {
		width: 100%;
		min-height: 850px;
		background: url('http://localhost/aluinch-dev/storage/images/bg-contact.jpg') center center;
		z-index: 1;
		position: relative;
		background-size: no-repeat;
		background-attachment: scroll;
		left: 0;
		top: 0
	}

	#section6 > .bg-orange {
		width: 100%;
		height: 1040px;
		position: absolute;
		background: rgba(241, 94, 34, .9);
		left: 0;
		top: 0;
		z-index: 1
	}

	#section6 h2 {
		font-size: 14px;
		font-size: 1.4rem;
		font-weight: 700;
		color: #000
	}

	#section6 > .text-main {
		width: 616px;
		height: 112px;
		position: absolute;
		left: 50%;
		top: 60%;
		margin-left: -308px;
		margin-top: -66px;
		z-index: 1
	}

	#section6 .warp {
		width: 100%;
		min-height: auto;
		position: relative;
		margin: 0 auto;
		padding-top: 0;
		padding: 40px 10px
	}

	#section6 .warp-slide {
		width: 100%;
		position: relative;
		margin: 50px auto 0 auto;
		padding: 0 60px
	}

	#section6 h1 {
		color: #fff
	}

	#section6 .line-head {
		background: #fff
	}

	#section6 .box-contact {
		width: 100%;
		float: left;
		padding: 40px 20px 0 20px;
		color: #fff;
		position: relative
	}

	#section6 .media-body {
		padding-left: 10px
	}

	#section6 .box-contact a {
		color: #ff0
	}

	#section6 .box-contact > .head {
		letter-spacing: 1px;
		margin-bottom: 10px;
		display: block;
	}

	#section6 .box-contact .map {
		cursor: pointer
	}

	#section6 input[type=text] {
		width: 48%;
		margin-right: 2%;
		float: left;
		margin-bottom: 10px;
		border: 1px solid #fff;
		padding: 5px 10px;
		background: transparent;
		color: #fff
	}

	#section6 textarea {
		background: transparent;
		color: #fff;
		border: 1px solid #fff;
		margin-bottom: 10px;
		width: 98%;
		margin-right: 2%;
		height: 100px;
		padding: 5px 10px
	}

	#section6 .media {
		margin-bottom: 20px
	}

	#section6 input[type=submit] {
		background: #fefbfb;
		float: left;
		padding: 7px 10px;
		color: #333;
		text-align: center;
		cursor: pointer;
		border: 0;
		font-weight: 700;
		margin-top: 20px
	}

	#section6 .fb {
		position: relative;
		right: auto;
		bottom: auto;
		float: right;
		padding-top: 10px
	}

	.map-google {
		width: 100%;
		height: 400px;
		position: relative;
		bottom: auto;
		z-index: 1
	}

	#section6 .copy {
		font-size: 12px;
		padding: 50px 0 20px 0;
		width: 50%;
		float: left
	}

	.contact-clear {
		display: none
	}

	.see-more {
		margin: 30px auto !important
	}

	.bg, .bg2, #section2 .warp, .text-main {
		display: none
	}

	.desktop {
		display: none
	}

	.mobile, #section6 .bg {
		display: block
	}

	header .logo {
		float: none;
		cursor: pointer;
		width: 150px;
		margin: 0 auto
	}
}

@media (max-width: 767px) {
	header {
		position: fixed;
		width: 100%;
		z-index: 10;
		top: 0;
		padding-top: 10px;
		padding-bottom: 10px;
		transition: all .5s ease;
		-webkit-transition: all .5s ease;
		background: rgba(120, 120, 121, .9)
	}

	header .logo {
		float: none;
		cursor: pointer;
		width: 150px;
		margin: 0 auto
	}

	header .navigation {
		width: 100%;
		position: relative
	}

	#navi {
		position: relative
	}

	header .navigation ul {
		width: 100%;
		float: none;
		padding: 5px 0 5px 0;
		position: relative;
		margin-bottom: 0
	}

	header .navigation ul li {
		float: none;
		margin: 10px auto 0 auto;
		width: 200px;
		box-sizing: border-box;
		-moz-box-sizing: border-box;
		-webkit-box-sizing: border-box;
		border: 2px solid transparent;
		clear: both;
		text-align: center;
		display: none
	}

	header .navigation ul li.mobile {
		display: block
	}

	header .navigation ul li.project {
		width: 250px
	}

	header .navigation ul li > div {
		text-align: center
	}

	header .navigation ul li > div > a {
		color: #fff;
		padding: 8px 20px;
		display: block
	}

	header .navigation ul li:last-child > div > a {
		color: #f15e22;
		font-weight: 700
	}

	header .hotline {
		font-weight: 700;
		float: left;
		padding-top: 14px
	}

	header .hotline > a {
		color: #fc8f05;
		display: none
	}

	header .hotline > a:hover {
		color: #fff
	}

	header .fb {
		position: absolute;
		right: -20px;
		border-left: 1px solid #808080;
		padding-left: 10px;
		margin-top: 10px;
		display: none
	}

	header .fb:hover {
		opacity: .9
	}

	header .navigation ul li.active, header .navigation ul li:hover {
		border: 2px solid #f15e22;
		-webkit-transform: skewx(-30deg);
		-moz-transform: skewx(-30deg);
		-ms-transform: skewx(-30deg);
		-o-transform: skewx(-30deg);
		transform: skewx(-30deg)
	}

	header .navigation ul li.active > div, header .navigation ul li:hover > div {
		-webkit-transform: skewx(30deg);
		-moz-transform: skewx(30deg);
		-ms-transform: skewx(30deg);
		-o-transform: skewx(30deg);
		transform: skewx(30deg)
	}

	.stuck {
		background: rgba(120, 120, 121, .9);
		padding-top: 10px;
		position: fixed;
		top: 0
	}

	header .navbar-collapse {
		-webkit-box-shadow: none
	}

	header .navbar-collapse {
		box-shadow: none
	}

	header .hot-bar {
		display: none
	}

	.slides-navigation img {
		width: 50px
	}
}

@media (max-width: 600px) {
	#section1 .slogan {
		top: 150px
	}
}

@media (max-width: 500px) {
	#section2 .port-main .main-slide > .slide-crop {
		height: 350px
	}

	.bg-mobile > .text {
		font-size: 14px
	}

	#section6 > .bg {
		min-height: 880px
	}

	#section1 {
		height: 500px
	}

	#section1 .slogan {
		top: 100px;
		width: 70%;
		right: 15%;
		margin-right: 0
	}

	header .logo {
		float: none;
		cursor: pointer;
		width: 120px;
		margin: 0 auto
	}

	.slides-navigation {
		display: none
	}
}

@media (max-width: 450px) {
	#section2 .port-main > .warp-slide .main-catlist > ul > li {
		padding: 7px 15px;
		border: 1px solid #535050;
		float: left;
		margin-right: 10px;
		cursor: pointer;
		margin-bottom: 20px
	}

	#section2 .port-main .main-slide > .slide-crop {
		height: 300px
	}

	#section2 .port-main .main-slide > .slide-crop > .main-thumb {
		width: 300px;
		left: 50%;
		margin-left: -150px;
		position: absolute;
		bottom: 0;
		background: #f0f0f1;
		text-align: center;
		z-index: 1;
		padding: 0 30px 20px 30px
	}

	.sitemap-main ul li {
		width: 100%;
		float: left;
		padding: 20px 10px;
		font-size: 16px;
		text-align: center
	}

	.sitemap-main ul li.box {
		width: 100%
	}

	.sitemap-main ul li a {
		color: #333
	}
}

@media (max-width: 400px) {
	#section2 .port-main .main-slide > .slide-crop {
		height: 270px
	}

	#section2 .port-main .main-slide {
		height: 300px
	}
}

@media (min-width: 769px) {
	body {
		height: 10000px
	}

	.black {
		position: absolute;
		width: 100%;
		height: 100%;
		background: #000;
		z-index: 1
	}

	header {
		position: fixed;
		width: 100%;
		z-index: 10;
		top: 90px;
		padding-top: 10px;
		transition: all .5s ease;
		-webkit-transition: all .5s ease
	}

	header .logo {
		float: left;
		cursor: pointer;
		width: 200px
	}

	header .navigation {
		float: left;
		width: 100%;
		position: relative;
		display: block
	}

	header .navigation ul {
		width: auto;
		float: left;
		padding: 5px 20px 5px 80px
	}

	header .navigation ul li {
		float: left;
		width: auto;
		box-sizing: border-box;
		-moz-box-sizing: border-box;
		-webkit-box-sizing: border-box;
		border: 2px solid transparent
	}

	header .navigation ul li > div > a {
		color: #fff;
		padding: 8px 20px;
		display: block
	}

	header .hotline {
		font-weight: 700;
		float: left;
		padding-top: 14px
	}

	header .hotline > a {
		color: #fc8f05
	}

	header .hotline > a:hover {
		color: #fff
	}

	header .fb {
		position: absolute;
		right: -30px;
		border-left: 1px solid #808080;
		padding-left: 10px;
		margin-top: 10px
	}

	header .fb:hover {
		opacity: .9
	}

	header .navbar-collapse {
		padding-left: 0;
		padding-right: 0
	}

	header .hot-bar {
		position: absolute;
		width: 150px;
		right: 0;
		top: 0
	}

	header .navigation ul li.active, header .navigation ul li:hover {
		border: 2px solid #f15e22;
		-webkit-transform: skewx(-30deg);
		-moz-transform: skewx(-30deg);
		-ms-transform: skewx(-30deg);
		-o-transform: skewx(-30deg);
		transform: skewx(-30deg)
	}

	header .navigation ul li.active > div, header .navigation ul li:hover > div {
		-webkit-transform: skewx(30deg);
		-moz-transform: skewx(30deg);
		-ms-transform: skewx(30deg);
		-o-transform: skewx(30deg);
		transform: skewx(30deg)
	}

	.stuck {
		background: rgba(120, 120, 121, .9);
		padding-top: 10px;
		position: fixed;
		top: 0
	}

	#section1 {
		position: fixed;
		width: 100%;
		height: 100%
	}

	#section1 > .warp-slide {
		width: 100%;
		height: 100%;
		position: absolute;
		left: 0;
		top: 0;
		z-index: 1
	}

	#section1 .slogan {
		width: 50%;
		top: 220px;
		right: 25%;
		text-align: center;
		position: absolute;
		z-index: 1
	}

	#section2 {
		position: fixed;
		width: 100%;
		height: 1300px;
		z-index: 5
	}

	#section2 > .bg {
		width: 100%;
		height: 789px;
		background: url('http://localhost/aluinch-dev/storage/images/bg2/1.png') top center no-repeat;
		z-index: 1;
		position: absolute;
		background-size: cover
	}

	#section2 .port-main {
		width: 100%;
		height: 1100px;
		position: absolute;
		top: 350px;
		left: 0;
		background: #fff
	}

	#section2 .port-main > .warp-slide {
		width: 1000px;
		height: 600px;
		margin: 0 auto;
		margin-top: 400px;
		text-align: center;
		background: #fff
	}

	#section2 .port-main > .warp-slide .main-catlist {
		position: relative;
		text-align: left;
		left: -50%;
		position: relative;
		float: right;
		padding-top: 40px
	}

	#section2 .port-main > .warp-slide .main-catlist > ul {
		position: relative;
		left: 50%;
		position: relative
	}

	#section2 .port-main > .warp-slide .main-catlist > ul > li {
		padding: 7px 15px;
		border: 1px solid #535050;
		float: left;
		margin-right: 10px;
		cursor: pointer
	}

	#section2 .port-main > .warp-slide .main-catlist > ul > li:hover, #section2 .port-main > .warp-slide .main-catlist > ul > li.active {
		background: #f15e22;
		color: #fff
	}

	#section2 .port-main .main-slide {
		width: 100%;
		height: 500px;
		position: relative;
		margin-top: 30px
	}

	#section2 .port-main .main-slide > .slide-crop {
		width: 100%;
		height: 100%;
		position: absolute;
		top: 0;
		left: 0
	}

	#section2 .port-main .main-slide > .slide-crop > .main-thumb {
		width: 500px;
		left: 50%;
		margin-left: -250px;
		position: absolute;
		bottom: 0;
		background: #f0f0f1;
		text-align: center;
		z-index: 1;
		padding: 0 30px 5px 30px
	}

	#section2 .port-main .main-slide > .slide-crop > .main-thumb > .space {
		padding: 10px 0;
		color: #000
	}

	#slide1 {
		z-index: 1
	}

	#slide2, #slide3, #slide4, #slide5 {
		z-index: 0
	}

	#section2 .port-main > .graphic {
		position: absolute;
		width: 200px;
		bottom: -200px;
		height: 200px;
		left: 0
	}

	#section2 .text-home {
		position: absolute;
		width: 300px;
		height: 100px;
		left: 50%;
		margin-left: -150px;
		top: 20%;
		z-index: 1
	}

	#section2 .arrow {
		width: 112px;
		height: 120px;
		position: absolute;
		top: 30%;
		left: 50%;
		margin-left: -56px;
		z-index: 1
	}

	#section2 .warp {
		width: 100%;
		height: 100%;
		position: relative
	}

	#section2 .main-thumb > .arrow-left {
		position: absolute;
		top: 50%;
		left: 0;
		width: 30px;
		cursor: pointer
	}

	#section2 .main-thumb > .arrow-right {
		position: absolute;
		top: 50%;
		right: 0;
		width: 30px;
		cursor: pointer
	}

	#section3 {
		position: fixed;
		width: 100%;
		height: 1000px;
		z-index: 4
	}

	#section3 > .bg {
		width: 100%;
		height: 100%;
		background: url('http://localhost/aluinch-dev/storage/images/bg1/4.jpg') center center;
		z-index: 1;
		position: absolute;
		background-size: cover;
		left: 0;
		top: 0
	}

	#section3 > .bg2 {
		width: 100%;
		height: 800px;
		background: url('http://localhost/aluinch-dev/storage/images/bg2/4.png') center center;
		z-index: 1;
		position: absolute;
		background-size: cover;
		left: 0;
		top: 65%
	}

	#section3 > .text-main {
		width: 616px;
		height: 112px;
		position: absolute;
		left: 50%;
		top: 60%;
		margin-left: -308px;
		margin-top: -66px;
		z-index: 1
	}

	#section3 > .warp {
		width: 100%;
		height: 1500px;
		background: #fff;
		position: relative;
		top: 1000px;
		padding-top: 400px
	}

	#section3 .warp-slide {
		width: 1000px;
		position: relative;
		margin: 50px auto 0 auto;
		padding: 0 60px
	}

	#section3 h2 {
		font-size: 14px;
		font-size: 1.4rem;
		font-weight: 700;
		color: #000
	}

	#section3 .product-box {
		background: #eff0f0;
		padding: 20px
	}

	#section3 .product-box > h3 {
		font-weight: 700;
		color: #000;
		font-size: 14px;
		margin: 0;
		padding-bottom: 10px;
		line-height: 1.4;
	}

	#section3 .product-box > p {
		padding: 0;
		margin: 0
	}

	#section3 .arrow-left {
		position: absolute;
		top: 50%;
		margin-top: -22px;
		left: 0;
		cursor: pointer
	}

	#section3 .arrow-right {
		position: absolute;
		top: 50%;
		margin-top: -22px;
		right: 0;
		cursor: pointer
	}

	#section3 .see-more {
		width: 200px;
		font-size: 14px;
		font-weight: 700;
		letter-spacing: 1px;
		border: 1px solid #f15e22;
		margin: 50px auto;
		text-align: center;
		position: relative
	}

	#section3 .see-more > a {
		padding: 20px;
		position: relative;
		display: block;
		color: #000
	}

	#section3 .graphic {
		position: absolute;
		width: 100%;
		bottom: -200px;
		height: 200px;
		left: 0
	}

	#section4 {
		position: fixed;
		width: 100%;
		height: 1000px;
		z-index: 3
	}

	#section4 > .bg {
		width: 100%;
		height: 100%;
		background: url('http://localhost/aluinch-dev/storage/images/bg1/5.jpg') center center;
		z-index: 1;
		position: absolute;
		background-size: cover;
		left: 0;
		top: 0
	}

	#section4 > .bg2 {
		width: 100%;
		height: 800px;
		background: url('http://localhost/aluinch-dev/storage/images/bg2/5.png') center center;
		z-index: 1;
		position: absolute;
		background-size: cover;
		left: 0;
		top: 65%
	}

	#section4 h2 {
		font-size: 14px;
		font-size: 1.4rem;
		font-weight: 700;
		color: #000
	}

	#section4 > .text-main {
		width: 616px;
		height: 112px;
		position: absolute;
		left: 50%;
		top: 60%;
		margin-left: -308px;
		margin-top: -66px;
		z-index: 1
	}

	#section4 > .warp {
		width: 100%;
		min-height: 1500px;
		background: #fff;
		position: relative;
		top: 1000px;
		padding-top: 400px
	}

	#section4 .warp-slide {
		width: 1000px;
		position: relative;
		margin: 50px auto 0 auto;
		padding: 0 60px
	}

	#section4 .arrow-left {
		position: absolute;
		top: 50%;
		margin-top: -22px;
		left: 0;
		cursor: pointer
	}

	#section4 .arrow-right {
		position: absolute;
		top: 50%;
		margin-top: -22px;
		right: 0;
		cursor: pointer
	}

	#section4 .see-more {
		width: 200px;
		font-size: 14px;
		font-weight: 700;
		letter-spacing: 1px;
		border: 1px solid #f15e22;
		margin: 50px auto;
		text-align: center;
		position: relative
	}

	#section4 .see-more > a {
		padding: 20px;
		position: relative;
		display: block;
		color: #000
	}

	#section4 .vdo-box {
		background: #eff0f0;
		padding: 20px
	}

	#section4 .vdo-box > h3 {
		font-weight: 700;
		color: #000;
		font-size: 14px;
		margin: 0;
		padding-bottom: 10px;
		line-height: 1.4;
	}

	#section4 .vdo-box > p {
		padding: 0;
		margin: 0
	}

	#section4 .faq-main {
		padding-bottom: 50px
	}

	#section4 .faq-main-box {
		width: 100%;
		color: #000;
		padding: 20px;
		border: 1px solid #a1a1a1;
		border-left: 5px solid #a1a1a1;
		margin: 20px 0;
		font-weight: 700;
		cursor: pointer
	}

	#section4 .faq-main-box > i {
		color: #f15e22;
		float: right;
		font-size: 20px;
		cursor: pointer;
		transition: all .5s ease
	}

	#section4 .faq-main-box:hover {
		background: #f8f8f8
	}

	#section4 .faq-main > p {
		padding: 10px 0;
		display: none
	}

	#section4 .graphic {
		position: absolute;
		width: 100%;
		bottom: -200px;
		height: 201px;
		left: 0
	}

	#section4 .arrow-down {
		-ms-transform: rotate(90deg);
		-webkit-transform: rotate(90deg);
		transform: rotate(90deg)
	}

	#section5 {
		position: fixed;
		width: 100%;
		height: 1000px;
		z-index: 2
	}

	#section5 > .bg {
		width: 100%;
		height: 100%;
		background: url('http://localhost/aluinch-dev/storage/images/bg1/6.jpg') center center;
		z-index: 1;
		position: absolute;
		background-size: cover;
		left: 0;
		top: 0
	}

	#section5 > .bg2 {
		width: 100%;
		height: 800px;
		background: url('http://localhost/aluinch-dev/storage/images/bg2/6.png') center center;
		z-index: 1;
		position: absolute;
		background-size: cover;
		left: 0;
		top: 65%
	}

	#section5 h2 {
		font-size: 14px;
		font-size: 1.4rem;
		font-weight: 700;
		color: #000
	}

	#section5 > .text-main {
		width: 616px;
		height: 112px;
		position: absolute;
		left: 50%;
		top: 60%;
		margin-left: -308px;
		margin-top: -66px;
		z-index: 1
	}

	#section5 > .warp {
		width: 100%;
		min-height: 1000px;
		background: #fff;
		position: relative;
		top: 1000px;
		padding-top: 400px
	}

	#section5 .warp-slide {
		width: 1000px;
		position: relative;
		margin: 50px auto 0 auto;
		padding: 0 60px
	}

	#section5 .arrow-left {
		position: absolute;
		top: 50%;
		margin-top: -22px;
		left: 0;
		cursor: pointer
	}

	#section5 .arrow-right {
		position: absolute;
		top: 50%;
		margin-top: -22px;
		right: 0;
		cursor: pointer
	}

	#section5 .see-more {
		width: 200px;
		font-size: 14px;
		font-weight: 700;
		letter-spacing: 1px;
		border: 1px solid #f15e22;
		margin: 50px auto;
		text-align: center;
		position: relative
	}

	#section5 .see-more > a {
		padding: 20px;
		position: relative;
		display: block;
		color: #000
	}

	#section5 .vdo-box {
		background: #eff0f0;
		padding: 20px
	}

	#section5 .vdo-box > h3 {
		font-weight: 700;
		color: #000;
		font-size: 14px;
		margin: 0;
		padding-bottom: 10px
	}

	#section5 .vdo-box > p {
		padding: 0;
		margin: 0
	}

	#section5 .faq-main {
		padding-bottom: 100px
	}

	#section5 .faq-main-box {
		width: 100%;
		color: #000;
		padding: 20px;
		border: 1px solid #a1a1a1;
		border-left: 5px solid #a1a1a1;
		margin: 20px 0;
		font-weight: 700
	}

	#section5 .faq-main-box > i {
		color: #f15e22;
		float: right;
		font-size: 20px
	}

	#section5 .faq-main > p {
		padding: 10px 0
	}

	#section5 .graphic {
		position: absolute;
		width: 100%;
		bottom: -200px;
		height: 200px;
		left: 0
	}

	#section6 {
		position: fixed;
		width: 100%;
		/*height: 100%;*/
		height: 1135px;
		z-index: 1;
		font-size: 12px
	}

	#section6 .partner {
		text-transform: uppercase;
		float: left;
		width: 100%
	}

	#section6 .copy-line {
		width: 100%;
		height: 1px;
		background: #f39670;
		margin: 0 0 20px 0;
		float: left
	}

	#section6 .list-contact {
		float: left;
		width: 60%;
		padding-top: 20px;
		font-size: 12px
	}

	#section6 .list-contact2 {
		float: left;
		width: 40%;
		padding-top: 20px;
		font-size: 12px;
		padding-left: 15px
	}

	#section6 > .bg {
		width: 100%;
		height: 100%;
		background: url('http://localhost/aluinch-dev/storage/images/bg-contact.jpg') center center;
		z-index: 1;
		position: absolute;
		background-size: cover;
		left: 0;
		top: 0
	}

	#section6 > .bg-orange {
		width: 100%;
		height: 100%;
		position: absolute;
		background: rgba(241, 94, 34, .9);
		left: 0;
		top: 0;
		z-index: 1
	}

	#section6 h2 {
		font-size: 14px;
		font-size: 1.4rem;
		font-weight: 700;
		color: #000
	}

	#section6 > .text-main {
		width: 616px;
		height: 112px;
		position: absolute;
		left: 50%;
		top: 60%;
		margin-left: -308px;
		margin-top: -66px;
		z-index: 1
	}

	#section6 .warp {
		width: 1000px;
		min-height: 400px;
		position: relative;
		margin: 0 auto;
		padding-top: 250px
	}

	#section6 .warp-slide {
		width: 1000px;
		position: relative;
		margin: 50px auto 0 auto;
		padding: 0 60px
	}

	#section6 h1 {
		color: #fff
	}

	#section6 .line-head {
		background: #fff
	}

	#section6 .box-contact {
		width: 50%;
		float: left;
		padding: 50px 30px 50px 30px;
		color: #fff;
		position: relative
	}

	#section6 .media-body {
		/* padding-left: 10px */
		width: 100%;
		word-break: break-word;
	}

	#section6 .box-contact a {
		color: #ff0
	}

	#section6 .box-contact > .head {
		letter-spacing: 2px;
		font-size: 18px
	}

	#section6 .box-contact .map {
		cursor: pointer
	}

	#section6 input[type=text] {
		width: 48%;
		margin-right: 2%;
		float: left;
		margin-bottom: 10px;
		border: 1px solid #fff;
		padding: 5px 10px;
		background: transparent;
		color: #fff
	}

	#section6 textarea {
		background: transparent;
		color: #fff;
		border: 1px solid #fff;
		margin-bottom: 10px;
		width: 98%;
		margin-right: 2%;
		height: 100px;
		padding: 5px 10px
	}

	#section6 .media {
		margin-bottom: 20px
	}

	#section6 input[type=submit] {
		background: #fefbfb;
		padding: 7px 10px;
		color: #333;
		text-align: center;
		cursor: pointer;
		border: 0;
		font-weight: 700;
		margin-top: 100px
	}

	#section6 .fb {
		position: absolute;
		right: 0;
		bottom: 30px
	}

	#section6 .box-contact-1 {
		padding-right: 0
	}

	.map-google {
		width: 100%;
		height: 500px;
		position: absolute;
		bottom: -500px;
		z-index: 1
	}

	#section6 .copy {
		font-size: 12px;
		padding: 50px 0 20px 0;
		width: 100%;
		float: left
	}

	.contact-clear {
		display: none
	}

	.desktop {
		display: block
	}

	.mobile {
		display: none
	}
}

@media (min-width: 1200px) and (max-height: 800px) {
	#section6 .warp {
		padding-top: 200px
	}

	.map-google {
		bottom: -500px
	}

	#section6 .copy {
		font-size: 11px;
		padding: 20px 0;
		width: 50%
	}

	#section6 input[type=submit] {
		margin-top: 50px
	}
}

@media (min-width: 992px) and (max-width: 1200px) {
	header .logo {
		float: none;
		cursor: pointer;
		width: 200px;
		margin: 0 auto
	}

	#section6 input[type=submit] {
		margin-top: 20px
	}

	#section6 .copy {
		width: 50%;
		float: left;
		padding: 10px 0
	}

	#section1 .slogan {
		width: 500px;
		margin-right: -250px;
		top: 250px;
		right: 50%;
		position: absolute;
		z-index: 1
	}
}

@media (min-width: 769px) and (max-width: 992px) {
	.nav-page, .ruler-bar {
		display: none
	}

	header .logo {
		float: none;
		cursor: pointer;
		width: 200px;
		margin: 0 auto
	}

	header .navigation ul {
		width: auto;
		float: left;
		padding: 5px 0 5px 0
	}

	#section2 .port-main > .warp-slide {
		width: 768px;
		height: 600px;
		margin: 0 auto;
		margin-top: 400px;
		text-align: center;
		background: #fff
	}

	#section1 .slogan {
		width: 500px;
		margin-right: -250px;
		top: 250px;
		right: 50%;
		position: absolute;
		z-index: 1
	}

	#section3 .warp-slide {
		width: 768px;
		position: relative;
		margin: 50px auto 0 auto;
		padding: 0 60px;
		background: #fff
	}

	#section4 .warp-slide {
		width: 768px;
		position: relative;
		margin: 50px auto 0 auto;
		padding: 0 60px;
		background: #fff
	}

	#section5 .warp-slide {
		width: 768px;
		position: relative;
		margin: 50px auto 0 auto;
		padding: 0 60px;
		background: #fff
	}

	#section6 .warp {
		width: 800px;
		min-height: 400px;
		position: relative;
		margin: 0 auto;
		padding-top: 250px
	}

	#section6 .list-contact {
		float: left;
		width: 50%;
		padding-top: 20px;
		font-size: 12px
	}

	#section6 .list-contact2 {
		float: left;
		width: 50%;
		padding-top: 20px;
		font-size: 12px;
		padding-left: 20px
	}

	#section6 .media {
		width: 100%;
		clear: both
	}

	#section6 .warp-slide {
		width: 768px;
		position: relative;
		margin: 50px auto 0 auto;
		padding: 0 60px;
		background: #fff
	}

	#section6 .box-contact {
		width: 50%;
		float: left;
		padding: 20px;
		color: #fff;
		position: relative
	}

	#section6 .box-c {
		width: 100% !important;
		float: left !important;
		position: relative
	}

	#section6 .clear {
		clear: both
	}

	#section6 .copy {
		width: 50%;
		float: left;
		padding: 20px 0
	}

	.contact-clear {
		display: block;
		clear: both
	}

	#section6 input[type=submit] {
		margin-top: 40px
	}
}

@media only screen and (min-width: 768px) and (max-width: 1024px) {
	header {
		position: fixed;
		width: 100%;
		z-index: 10;
		top: 0;
		padding-top: 10px;
		transition: all .5s ease;
		-webkit-transition: all .5s ease
	}

	header .navigation {
		float: left;
		width: 100%;
		position: relative;
		display: block
	}

	header .navigation ul {
		width: 100%;
		float: left;
		padding: 5px 20px 5px 0
	}

	header .navigation ul li {
		float: left;
		width: auto;
		box-sizing: border-box;
		-moz-box-sizing: border-box;
		-webkit-box-sizing: border-box;
		border: 2px solid transparent;
		display: none
	}

	header .navigation ul li.mobile {
		display: block
	}

	header .navigation ul li.mobile:last-child {
		display: none
	}

	header .navigation ul li > div > a {
		color: #fff;
		padding: 8px 20px;
		display: block
	}

	header .hotline {
		font-weight: 700;
		float: left;
		padding-top: 14px
	}

	header .hotline > a {
		color: #fc8f05
	}

	header .hotline > a:hover {
		color: #fff
	}

	header .fb {
		float: right;
		border-left: 1px solid #808080;
		padding-left: 10px;
		margin-top: 10px
	}

	header .fb:hover {
		opacity: .9
	}

	header .navbar-collapse {
		padding-left: 0;
		padding-right: 0
	}

	header .hot-bar {
		position: absolute;
		width: 150px;
		right: 0;
		top: 0
	}

	header .navigation ul li.active, header .navigation ul li:hover {
		border: 2px solid #f15e22;
		-webkit-transform: skewx(-30deg);
		-moz-transform: skewx(-30deg);
		-ms-transform: skewx(-30deg);
		-o-transform: skewx(-30deg);
		transform: skewx(-30deg)
	}

	header .navigation ul li.active > div, header .navigation ul li:hover > div {
		-webkit-transform: skewx(30deg);
		-moz-transform: skewx(30deg);
		-ms-transform: skewx(30deg);
		-o-transform: skewx(30deg);
		transform: skewx(30deg)
	}

	.stuck {
		background: rgba(120, 120, 121, .9);
		padding-top: 10px;
		position: fixed;
		top: 0
	}

	header .logo {
		float: none;
		cursor: pointer;
		width: 200px;
		margin: 0 auto
	}

	.mobile-nav {
		display: none
	}
}

@media print {
	section, div {
		display: none
	}

	.print {
		display: block
	}
}

.float-none {
	float: none !important;
}

@media (max-width: 767px) {
	.icon-line,
	.icon-fb {
		height: 36px;
	}
}

a[href^="tel"], a[href*="tel"] {
	pointer-events: none;
}

@media (max-width: 767px) {
	a[href^="tel"], a[href*="tel"] {
		pointer-events: auto;
	}
}

/* This beautiful CSS-File has been crafted with LESS (lesscss.org) and compiled by simpLESS (wearekiss.com/simpless) */
