#slides {
    position: relative;
    z-index: 0;
}
#slides .slides-container {
    display: none;
}
#slides .scrollable {
    *zoom: 1;
    position: relative;
    top: 0;
    left: 0;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
    height: 100%;
}
#slides .scrollable:after {
    content: "";
    display: table;
    clear: both;
}

.slides-navigation {
    margin: 0 auto;
    position: absolute;
    z-index: 999;
    top: 250px;
    width: 100%;

}
.slides-navigation a {
    position: absolute;
    z-index: 999;
    display: block;
}
.slides-navigation a.prev {
    left: 50px;
}
.slides-navigation a.next {
    right: 50px;
}

.slides-pagination {
    position: absolute;
    z-index: 13;
    bottom: 40%;
    text-align: center;
    width: 50%;
    display: none;
}
.slides-pagination a {

    width: 50px;
    height: 5px;
    border: 1px solid #fefbfb;
    display: -moz-inline-stack;
    display: inline-block;
    vertical-align: middle;
    *vertical-align: auto;
    zoom: 1;
    *display: inline;
    background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR4nGP6zwAAAgcBApocMXEAAAAASUVORK5CYII=");
    margin: 2px;
    overflow: hidden;
    text-indent: -100%;
}
.slides-pagination a.current {
    background: #fefbfb;
    width: 50px;
    height: 5px;
}